<footer class="bg-dark text-white">
    <div class="container">
        <nav class="row">
            <!--Logo-->
            <a href="#" class="col-3 tex-reset text-uppercase d-flex align-items-center">
                <img src="#" alt="logo" class="mr-2">
                La Vasija
            </a>
            <!--menu1-->
            <ul class="col-3 list-unstyled">
                <li class="font-weight-bold text-uppercase">Resource</li>
                <li><a href="#" class="text-reset">Link 1</a></li>
                <li><a href="#" class="text-reset">Link 2</a></li>
                <li><a href="#" class="text-reset">Link 3</a></li>
                <li><a href="#" class="text-reset">Link 4</a></li>
            </ul>
            <!--menu2-->
            <!--redes-->
        </nav>
    </div>
</footer>
